/* */
body { margin: 0; padding: 0; background: #fff }
.content-container, .stagewrapper {
	float: left;
	width: 100%;
}
#header { display: block; width: 100%; text-align: center; color: #fff; position: relative; float: left; padding: 9% 0; margin: 0 0 80px;

    background: #007681; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,66,103,1) 0%, rgba(0,118,129) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,66,103,1)), color-stop(100%,rgba(0,118,129))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,66,103,1) 0%,rgba(0,118,129,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,66,103,1) 0%,rgba(0,118,129,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,66,103,1) 0%,rgba(0,118,129,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,66,103,1) 0%,rgba(0,118,129,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004267', endColorstr='#007681',GradientType=0 ); /* IE6-9 */
}
#header h1 { margin: 0; font: 6em/100% "Qualcomm-Semibold", sans-serif }
#header h2 { margin: 0; font: 5em/100% "Qualcomm-Light", sans-serif }

.triangle {
	position: absolute;
	bottom: -35px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -35px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #007681; 
}

sup { opacity: 0.5; font-size: 0.7em }

.stagewrapper#Stage4wrap { padding-bottom: 60px }

#Stage1 {
	max-width: 556px !important;
	margin: 0 auto;
}
span.color  {
	font-family: "Qualcomm-Semibold", sans-serif;
}
.ftr {
	background: #666;
	color: #fff;
	padding: 41px 0;
	text-align: center;
}
.ftr .inner {
	display: block;
	width: 800px;
	margin: 0 auto;
}
.ftr p {
	font: 16px/20px "Qualcomm-Light", sans-serif;
	margin: 0 0 1.5em;
}
@media only screen and (max-width: 800px ) {
	#header h1 { font-size: 4em }
	#header h2 { font-size: 3em }
	.ftr .inner { width: 90%; }
}
@media only screen and (max-width: 600px ) {
	#Stage4_animation { width: 100% !important }
	#Stage4_animation_Text2 br { display: none }
}
@media only screen and (max-width: 550px ) {
	#Stage4_animation_Text { font-size: 65px !important }
}
@media only screen and (max-width: 500px ) {
	#header h1 { font-size: 2.8em }
	#header h2 { font-size: 2em }
	
	#Stage4_animation_Text { font-size: 60px !important }
	#Stage4_animation_Text2 { font-size: 24px !important; line-height: 28px !important }
	
	#Stage5_Text2 { font-size: 24px !important }
	#Stage5_road { right: -75px !important }
	#Stage5_CarsGo2 { right: -57px !important }
}
@media only screen and (max-width: 480px ) {
	#Stage4_animation_Text { font-size: 38px !important }
	
	.ftr p { font-size: 13px }
}